.pfp {
    width:25%;
    border-radius: 100%;
}
.pfpbox{
    height: 25%;
    width: 100%;
}
.pfbox {
    width: 80%;
    background-color: rgb(206, 206, 206);
    text-align: left;
    font-size: 4vh;
    max-width: 320px;
    margin: 0.5%;
    border-radius: 5%;
    padding: 0.5%;
}
.pfinfo {
    height: 75%;
    width: 100%;
    font-size: 3.5vh;
}