.imgtop {
    min-height: 110vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    justify-content: center;
    text-align: center;
}
.no-webp .imgtop {
    background-image: url(../img/havetouched.png);
}
.webp .imgtop {
    background-image: url(../img/havetouched.webp);
}
#boxtop {
    color:#FFFFFF;
    height: 30vh;
    justify-content: center;
}
#boxtop2 {
    color:#FFFFFF;
    height: 5vh;
    justify-content: center;
}
#boxmid {
    color:#FFFFFF;
    height: 30vh;
    font-size: 4vh;
    justify-content: center;
}
#boxlow {
    display: flex;
    justify-content: center;
    color:#FFFFFF;
    height: 20vh;
    align-items: center;
}
#boxlow a {
    text-decoration: none;
}
.box {
    display: flex;
    height: 50vh;
    font-size: 4vh;
    justify-content: center;
}
#inv {
    width: 80%;
    background-color: #2F3136;
    text-align: left;
    font-size: 6vh;
    min-width: 200px;
    max-width: 400px;
    margin: 0.5%;
    border-radius: 5%;
    padding: 3%;
    color: #DCDDD3;
    text-align: center;
}
#inv:hover {
    background-color: #36393F;
    text-decoration: underline;
    animation: colorRotate 3s linear 0s infinite;
}
@keyframes colorRotate {
    from {
      color: #6666ff;
    }
    10% {
      color: #0099ff;
    }
    50% {
      color: #00ff00;
    }
    75% {
      color: #ff3399;
    }
    100% {
      color: #6666ff;
    }
  }
/*rescaleing*/
@media  all and (max-width: 420px) {
    #boxtop {
        height: 10vh;
    }
    #boxmid {
        height: 35vh;
        font-size: 3vh;
    }
    #boxlow {
        height: 20vh;
    }
    .imgtop {
        height: auto;
        min-height: 100vh;
    }
    .box {
        height: auto;
        font-size: 4vh;
        flex-direction: column;
        width: 100%;
        padding: 1.5%;
    }
}
@media  all and (max-width: 869px) {
    #boxtop {
        height: 12vh;
    }
    #boxmid {
        height: 35vh;
        font-size: 3vh;
    }
    #boxlow {
        height: 20vh;
    }
    .box {
        height: auto;
        font-size: 4vh;
        flex-direction: column;
        width: 100%;
        padding: 1.5%;
    }
}