.formusboxus {
  display: flex;
  min-height: 50vh;
  font-size: 4vh;
  justify-content: center;
}
.formbox {
    width: 80%;
    background-color: #6c717a;
    text-align: center;
    font-size: 4vh;
    min-height: 200px;
    margin: 0.5%;
    border-radius: 5%;
    padding: 0.5%;
    color: #DCDDD3;
    justify-content: center;
}
#title {
    font-size: 10vh;
    text-align: center;
}
#question {
    font-size: 6vh;
    text-align: center;
}
.disnem {
  margin-bottom:1rem;
}
.formctr {
  display: block;
  width: 100%;
  padding: 0.3rem 0.7rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn {
  color: #fff;
  font-size: 1.5rem;
  margin-top: 10px;
  background-color: #0d6efd;
  border-color: #0d6efd;
  padding: 0.4rem
}
.btn:hover {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
}
.tap {
    background-color: #2F3136;
    text-align: left;
    font-size: 5vh;
    min-width: 100px;
    max-width: 400px;
    margin: 0.5%;
    border-radius: 5%;
    padding: 0.2%;
    color: #DCDDD3;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vh;
}
.tap:hover {
    background-color: #36393F;
    text-decoration: underline;
    animation: lol 6s linear 0s infinite;
}
@keyframes lol {
    from {
      color: #DCDDD3;
    }
    50% {
      color: #ccb4b4;
    }
    100% {
      color: #DCDDD3;
    }
  }